p.sub-title1 {
    color: aqua;
}
p#sub-title2 {
    color: pink;
}

.company{ 
    font-weight: bold;
    font-size: larger;
}

h1{
    font-size: 35pt;
    font-weight: bold;
    color: royalblue;
}
