p.sub-title1 {
    color: aqua;
}
p#sub-title2 {
    color: pink;
}

.company{ 
    font-weight: bold;
    font-size: larger;
}

h1{
    font-size: 35pt;
    font-weight: bold;
    color: royalblue;
}

div.box1{
    height: 100px;
    width: 100px;
    background-color: slategray;
}

div.box2{
    height: 100px;
    width: 100px;
    background-color: thistle;
}

div.box3{
    height: 100px;
    width: 100px;
    background-color: whitesmoke;
}